*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.first-text{
    color: #870058;
}

.apt-2{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pictures{
    height: 200px !important;
}

.apt{
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px !important;
    width: 60px !important;
}

.bot{
    background-color: #870058;
}

.about{
    box-shadow: 0px 0px 4px 5px rgba(88, 188, 221, 0.8)
}

.apt-height{
    height: 260px !important;
}

.apt-height-2{
    height: 220px !important;
    width: 220px;
}

.s-m{
    background-image: url(../Images/jeffery-erhunse-BQMZ5ligqps-unsplash.jpg);
}

.glow{
    color: skyblue;
}

@media screen and (max-width: 760px){
    .pr{
        flex-direction: column !important;
    }

    .noni{
        margin-top: 3rem !important;
    }

    .mean{
        justify-content: center !important;
    }

    .mean-2{
        margin-right: auto !important;
        margin-left: auto !important;
        margin-bottom: 1rem;
    }

    .about{
        box-shadow: none !important;
    }

    .space{
        margin-top: 2rem;
    }
